{#
/**
 * @file
 * Default theme implementation for the organization table view page.
 *
 * Available variables:
 * - none at this point
 */
#}
<div class="organization-table-view">
  {# Empty for now, will be populated as needed #}
</div> 