{#
/**
 * @file
 * Default theme implementation for the organization page.
 *
 * Available variables:
 * - none at this point
 */
#}
<div class="organization-page">
  {# Empty for now, will be populated as needed #}
</div> 